.spin {

    animation: ring-spin 120s linear infinite;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

@keyframes ring-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}